html,
body
	height: 100%
	
body
	font-family: 'Open Sans'
	font-size: 14px 
	background-color: #121518  
	color: $text
	
/* Contaoner */
.container
	padding: 0 15px
		
+placeholder
	opacity: 1
	

.section-title
	letter-spacing: 0.2em
	text-transform: uppercase
	font-size: 56px
	margin-top: -15px 
	color: $text-lighter 
	
	@media (max-height: 860px) and (min-width: 1200px)
		font-size: 46px
		margin-top: -12px
		letter-spacing: 0.15em  
		
	@media (max-width: 1199px)
		font-size: 46px
		letter-spacing: 0.05em
		
	@media (max-width: 991px)
		font-size: 42px
		letter-spacing: normal 
		font-weight: 800
		
	@media (max-width: 767px)
		font-size: 36px
		
	@media (max-width: 575px)
		font-size: 32px   
	
	&.smaller
		letter-spacing: 0.1em
		font-weight: 800
		font-size: 36px 
		margin-top: -10px   
	
	&:after
		content: '/'
		color: $red
		font-weight: 800 
		
	&--small
		font-size: 36px 
		letter-spacing: .1em 
		& + .button-group
			margin-top: 60px 
		

.section
	padding: 100px 0
	
	@media (max-width: 991px)
		padding: 75px 0
		
	&--smPad
		padding: 50px 0 
		
.top-80
	margin-top: 80px 
.scroll-y--sm
	height: 230px 
	p
		margin-bottom: 15px !important
		
.article
	@media (max-width: 991px)
		padding-top: 35px

	h3
		font-size: 1.7em
		color: $blue
		font-weight: 600
		text-transform: uppercase
		
	p,
	h2,
	h3
		&:not(:last-child)
			margin-bottom: 2rem
			

.table
	width: 	100% 
	display: block	
	text-align: center	
	tbody
	 	width: 	100%
	 	display: block	 
	tr
		display: flex
	th
		text-transform: uppercase	
		border: 1px solid #c3c3c3 
		border-right: none	
		flex: 1	
		font-size: 	14px 
		font-size: 	16px 
		font-weight: 	400
		color: 	#e5e5e5  
		&:last-child
			border-right: 1px solid #c3c3c3 	
		min-height: 	64px
		display: flex	
		align-items: center	
		justify-content: center	 
	td
		border: 1px solid #c3c3c3 
		border-right: none	
		border-top: none
		flex: 1	
		font-size: 	14px 
		min-height: 	64px
		display: flex	
		align-items: center	
		justify-content: center	 
		&:last-child
			border-right: 1px solid #c3c3c3 
		