[class^="icon-"], [class*=" icon-"], .icomoon-icon
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Icons' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-search:before
  content: "\e900"

.icon-angle-down:before
  content: "\e901"

.icon-angle-left:before
  content: "\e902"

.icon-angle-right:before
  content: "\e903"

.icon-arrow-long-right:before
  content: "\e904"

.icon-badge:before
  content: "\e905"

.icon-boat:before
  content: "\e906"

.icon-calendar:before
  content: "\e907"

.icon-car:before
  content: "\e908"

.icon-close:before
  content: "\e909"

.icon-color:before
  content: "\e90a"

.icon-crown:before
  content: "\e90b"

.icon-desktop:before
  content: "\e90c"

.icon-discount:before
  content: "\e90d"

.icon-document:before
  content: "\e90e"

.icon-driveability:before
  content: "\e90f"

.icon-driver:before
  content: "\e910"

.icon-email:before
  content: "\e911"

.icon-engine:before
  content: "\e912"

.icon-facebook:before
  content: "\e913"

.icon-flag:before
  content: "\e914"

.icon-flash:before
  content: "\e915"

.icon-instagram:before
  content: "\e916"

.icon-menu:before
  content: "\e917"

.icon-operator:before
  content: "\e918"

.icon-phone:before
  content: "\e919"

.icon-picture:before
  content: "\e91a"

.icon-plane:before
  content: "\e91b"

.icon-play:before
  content: "\e91c"

.icon-quotation:before
  content: "\e91d"

.icon-seat:before
  content: "\e91e"

.icon-sound-off:before
  content: "\e91f"

.icon-sound-on:before
  content: "\e920"

.icon-telegram:before
  content: "\e921"

.icon-transmission:before
  content: "\e922"

.icon-twitter:before
  content: "\e923"

.icon-whatsapp:before
  content: "\e924"
